﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="UserControl.WebForm1" %>

<%@ Register Src="~/Test.ascx" TagPrefix="uc1" TagName="Test" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Webform Body
        <uc1:Test runat="server" ID="Test" />
    </div>
    </form>
</body>
</html>
